.modal__header {
    margin-top: 20px;
    padding: 20px 30px;
    border-bottom: 1px solid #eeeeee;
    font-size: 18px;
    font-weight: 600;
}

.modal__nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #ECECEE;
    top:78px;
    height:100%;
    width: 120px;
    font-size: 15px;
}

.modal__nav a {
    text-decoration: none;
    color: black;
}

.back_gray {
    background-color: #DFDFE0;
}

.emoticon__class {
    margin: 5px 0px;
    padding: 20px;
}

.emoticon__list {
    margin-left: 120px;
    padding: 15px 0px;
    display: flex;
}
.emoticon__list:hover {
    background-color: #ECECED;
}
.emoticon__list-ad {
    padding-left: 20px;
    width: 320px;
}

.emoticon-icon img {
    width: 60px;
    height: 60px;
}

.emoticon__list-column_icon {
    margin:0px 20px;
}
.emoticon__list-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.emoticon__list-column_rank {
    display:flex;
    align-items: center;
    margin-right: 15px;
    font-size: 20px;
}

.emoticon-title {
    display:flex;
    align-items: center;
    font-weight:600;
    font-size: 13px;
}

.new__alarm {
    display:flex;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: tomato;
    color: white;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 11px;

}

.emoticon-text {
    margin-top: 5px;
    font-size: 11px;
    color: #7d7d7d;
}

.emoticon__search {
    margin-top: 20px;
    margin-left: 150px;
    background-color:#ECECED;
    color:#7d7d7d;
    font-size: 12px;
    padding: 10px 0px;
    padding-left: 20px;
    border-radius: 20px;
    width: 60%;
    margin-bottom: 30px
    
}

.emoticon__search-list {
    margin-left: 150px;
    font-size: 15px;
}

.emoticon__search-list__items {
    display: flex;
    flex-wrap:wrap;
}

.emoticon__search-list__item {
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 120px;
}

.emoticon__search-list-name {
    margin-top:10px;
}

.emoticon__search-list-img img {
    width: 80px;
    height: 80px;
}

.emoticon__search-list-name {
    font-size: 12px;
}