body {
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 8px;  
}

body::-webkit-scrollbar-thumb {
    height: 10%; 
    background:#cccccc;
    border-radius: 15px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #7f7f7f;
}

body::-webkit-scrollbar-track {
    background:  
}